<!-- <div  class="container mt-5">
  <div style="margin-top: 200px;" class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">Bibliophile Boutique</h4>
                </div>
                <!-- <div *ngIf="isLoading" style="text-align: center"> -->
                <!-- <app-loading-spinner></app-loading-spinner> -->
              </div>
              <form
                id="registrationForm"
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()"
              >
                <p>Please login to your account</p>

                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Email</label>
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="  Please enter your email address"
                    formControlName="email"
                  />
                  <div
                    class="validation-message text-danger"
                    *ngIf="
                  loginForm.get('email')?.errors?.['required'] &&
                  loginForm.get('email')?.touched
                "
                  >
                    Email is required
                  </div>
                  <div
                    class="validation-message text-danger"
                    *ngIf="loginForm.get('email')?.errors?.['pattern']"
                  >
                    Invalid Email
                  </div>
                </div>

                <label class="form-label" for="password">Password</label>
                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="  Please enter your password"
                    formControlName="password"
                  />
                  <div
                    class="validation-message text-danger"
                    *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
                  >
                    Password is required
                  </div>
                  <div
                    class="validation-message text-danger"
                    *ngIf="loginForm.get('password')?.errors?.['minlength']"
                  >
                    Password should be at least 8 characters!
                  </div>
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                  <button
                    [disabled]="!loginForm.valid"
                    class="btn btn-custom btn-block fa-lg gradient-custom-2 mb-3"
                    type="submit"
                  >
                    Log in
                  </button>
                </div>

                <!-- <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a>Create new</a>
                  </div> -->
              </form>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              <h4 class="mb-4">We are more than just a book store</h4>
              <p class="small mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
