<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-6">
        <div class="card rounded-3 text-black">
          <div class="card-body p-md-5 mx-md-4">
            <div class="text-center">
              <h4 class="mt-1 mb-5 pb-1">Bibliophile Boutique</h4>
            </div>
            <form id="registrationForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <p>Please login to your account</p>
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Please enter your email address" formControlName="email" />
                <div class="validation-message text-danger" *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">Email is required</div>
                <div class="validation-message text-danger" *ngIf="loginForm.get('email')?.errors?.['pattern']">Invalid Email</div>
              </div>
              <label class="form-label" for="password">Password</label>
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" placeholder="Please enter your password" formControlName="password" />
                <div class="validation-message text-danger" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">Password is required</div>
                <div class="validation-message text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password should be at least 8 characters!</div>
              </div>
              <div class="text-center pt-1 mb-5 pb-1">
                <button [disabled]="!loginForm.valid" class="btn btn-custom btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
          <h4 class="mb-4">We are more than just a book store</h4>
          <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
