/* Global Styles */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  background-color: #3f51b5; /* Primary color */
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.sidebar a.active {
  background-color: #1a237e; /* Darker shade for active state */
}

.sidebar a:hover {
  background-color: #1e88e5; /* Darker shade on hover */
}

/* Content Styles */
.content {
  margin-left: 200px;
  padding: 1px 16px;
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: none;
  }
  .content {
    margin-left: 0;
  }
}
